.App {
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

thead > tr > td {
  font-weight: 700;
}

th,
td {
  border-bottom: 1px solid #adadad;
  padding: 5px 10px;
}

.btn {
  outline: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
  color: black;

  &.reload:active {
    transform: translateY(3px);
    background-color: #21b7cb;
  }

  &.reload {
    float: right;
    background-color: #2ae0f8;
  }

  &.toggle {
    float: right;
    margin-right: 10px;
    color: var(--background);
    background-color: var(--foreground);
  }
}
