@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

* {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.App {
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

thead > tr > td {
  font-weight: 700;
}

th,
td {
  border-bottom: 1px solid #adadad;
  padding: 5px 10px;
}
