@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #000000;
}

.black {
  --background: #000000;
  --foreground: #ffffff;
}

* {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: var(--foreground);
}

body {
  background-color: var(--background);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
