header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.light {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.status-card {
  padding: 20px;
  border-radius: 8px;

  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16),
    0 3px 6px rgba(255, 255, 255, 0.23);

  &.white {
    h1,
    h3,
    p {
      color: #fff;
    }
  }

  h1,
  h3,
  p {
    margin: 0;
    padding: 0;
    color: black;
  }

  h1 {
    font-weight: 700;
  }

  p {
    font-size: 0.7rem;
  }
}
